[global_config]
  window_state = maximise
  enabled_plugins = ActivityWatch, LaunchpadCodeURLHandler
  dbus = True
  borderless = True
  geometry_hinting = False
  tab_position = hidden
[keybindings]
  full_screen = <Ctrl><Shift>F11
[profiles]
  [[default]]
    use_system_font = False
    font = Monospace Bold 11
    background_darkness = 1.39
    scrollbar_position = hidden
    scroll_on_output = False
    icon_bell = False
    show_titlebar = False
    copy_on_selection = True
    scrollback_infinite = True
[layouts]
  [[default]]
    [[[child1]]]
      type = Terminal
      parent = window0
    [[[window0]]]
      type = Window
      parent = ""
[plugins]
