[global_config]
  window_state = maximise
  enabled_plugins = LaunchpadCodeURLHandler,
  borderless = True
  title_hide_sizetext = True
  geometry_hinting = False
  tab_position = hidden
[keybindings]
[profiles]
  [[default]]
    scrollbar_position = hidden
    background_image = None
    use_system_font = False
    scroll_on_output = False
    show_titlebar = False
    font = Monospace Bold 10
    scrollback_infinite = True
[layouts]
  [[default]]
    [[[child1]]]
      type = Terminal
      parent = window0
    [[[window0]]]
      type = Window
      parent = ""
[plugins]
